{{!< default}}

<div class="pure-g-r">
	<div class="pure-u-3-4">
		<main role="main">

			{{#foreach posts}}
				<a class="sheet-post {{post_class}}" href='{{url}}'>
					<article class="sheet-panel">
						<header>
							<h2 class="sheet-title sheet-post-title">{{{title}}}</h2>
							<div class="sheet-post-meta">
								<time datetime="{{date format='YYYY-MM-DD'}}">{{date format="DD MMM YYYY"}}</time>
								{{#if tags}}
									<i class="fa fa-tags sheet-post-tags"></i> {{tags autolink="false"}}
								{{/if}}
							</div>
						</header>

						<section>
							<p class="sheet-post-excerpt">{{excerpt}}&hellip;</p>
							<div class="sheet-read-more">READ MORE <i class="fa fa-caret-right"></i></div>
						</section>
					</article>
				</a>
			{{/foreach}}

			<div class="sheet-panel">
				{{pagination}}
			</div>
		</main>
	</div>

	<div class="pure-u-1-4">
		<div class="sheet-panel sheet-sidebar">
			{{#if @blog.logo}}
				<img class="sheet-sidebar-logo" src="{{@blog.logo}}" alt="{{@blog.title}} Logo" />
			{{/if}}
			{{#if @blog.description}}
				<p class="sheet-sidebar-desc">{{@blog.description}}</p>
			{{/if}}
			<div class="sheet-sidebar-subscribe"><a class="sheet-btn" href="{{@blog.url}}/rss/"><i class="fa fa-rss-square"></i> <span>Subscribe</span></a></div>
			<div class="sheet-sidebar-social">
				<a target="_blank" href="http://stackoverflow.com/users/1164966/benoit-blanchon"><i class="fa fa-stack-overflow"></i></a>
				<a target="_blank" href="http://www.goodreads.com/bblanchon"><i class="fa fa-book"></i></a>
				<a target="_blank" href="https://github.com/bblanchon"><i class="fa fa-github-square"></i></a>
				<a target="_blank" href="http://fr.linkedin.com/pub/beno%C3%AEt-blanchon/42/526/418"><i class="fa fa-linkedin-square"></i></a>
				<a target="_blank" href="https://player.fm/bblanchon/fm"><i class="fa fa-microphone"></i></a>
			</div>
		</div>
	</div>
</div>